extends ./base
block title
    title= __('Beacon create')
block append header_styles
    link(rel="stylesheet" href="/stylesheets/forms.css")
    link(rel="stylesheet" href="/stylesheets/coupon_preview.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.css")
block container-content
    .row
        .col-sm-12.col-md-12
            h1= __('Create beacon')
        .col-sm-12.col-md-6
            form(role="form",action="",method="POST")
                div.form-group
                    label(for="name")= __('Beacon name')
                    input.form-control#name(required="true" maxlength="40" type="text" name="name" placeholder="#{__('Beacon name')}")
                div.form-group
                    label(for="uuid")= __('UUID')
                    input.form-control#uuid(required="true" type="text" name="uuid" placeholder="#{__('UUID')}")
                div.form-group
                    label(for="major")= __('Major')
                    input.form-control#major(required="true" max="65536" maxlength="5" type="text" name="major" placeholder="#{__('Major')}")
                div.form-group
                    label(for="minor")= __('Minor')
                    input.form-control#minor(required="true" max="65536" maxlength="5" type="text" name="minor" placeholder="#{__('Minor')}")
                div.form-group
                    label(for="cash_register")= __('Cash register')
                    input.float-checkbox#cash_register(type="checkbox" name="cash_register")
                div.form-group
                    label(for="store")= __('Store')
                    select.form-control(name="store")
                        for store in stores
                            option(value=store.id) #{store.name}
                input.btn.btn-success.pull-right(type='submit',value=__('Save beacon'))
block append footer_scripts