extends ./base
block title
    title= __('Contest edit')
block append header_styles
    link(rel="stylesheet" href="/stylesheets/forms.css")
    link(rel="stylesheet" href="/stylesheets/coupon_preview.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.css")
block container-content
    .row
        .col-sm-12.col-md-12
            h1= __('Edit contest') + ' - ' + contest.id

            - if (message && message.length > 0) {
                div.alert.alert-success= message
            - }
        .col-sm-12.col-md-6
            form(role="form" action="" method="POST")
                div.form-group
                    label(for="hashtag")= __('Hashtag')
                    div.input-group
                        div.input-group-addon #
                        input.form-control#hashtag(required="true" maxlength="30" type="text" name="hashtag" value=contest.hashtag)

                div.form-group.cropper-form(style="width: 300px")
                    label(for="contestIcon")= __('Icon')
                    input.form-control.cropperFile#contestIcon(type="file")
                    input(class="control cropperValue" type="hidden" name="icon")
                    p.help-block= __('The content illustration (rectangle picture, optimal size: 670px X 270px).')
                    div.cropper-container
                        img(data-preview=".contest-preview img" data-width="670" data-height="270" src="#{contest.icon}" class="cropper")

                div.form-group
                    label(for="description")= __('Description')
                    textarea.form-control#description(required="true" type="text" name="description")
                        | #{contest.description}
                div.row
                    div.col-md-6
                        div.form-group
                            label(for="contestStartDate")= __('Start date')
                            input.form-control#contestStartDate.form-control.datepicker(required="true" data-format="dd/MM/yyyy hh:mm" type="text" name="startDate" value=((contest.start_date) ? dateToString(contest.start_date, true) : ''))
                    div.col-md-6
                        div.form-group
                            label(for="contestEndDate")= __('End date')
                            input.form-control#contestEndDate.form-control.datepicker(required="true" data-format="dd/MM/yyyy hh:mm" type="text" name="endDate" value=((contest.end_date) ? dateToString(contest.end_date, true) : ''))
                input.btn.btn-success.pull-right(type='submit' value=__('Save contest'))
        .col-sm-12.col-md-6
            div.contest-preview
                div.img-holder
                    img(src="#{contest.icon}")
                p ##{contest.hashtag} (1337)
block append footer_scripts
    script(src="/js/moment.js")
    script(src="/js/bootstrap-datetimepicker.js")
    script(type="text/javascript")
        | $(document).on('ready', function() {
        |   $('.datepicker').datetimepicker({
        |       format: 'DD.MM.YYYY HH:mm'
        |   });
        |   $('#hashtag').keyup(function() {
        |       $('.contest-preview p').text('#' + $(this).val() + ' (1337)');
        |   });
        |   $('#contestIcon').change(function(e) {
        |           var selectedFile = e.target.files[0];
        |           var reader = new FileReader();
        |           reader.onload = function (e) {
        |               var image = new Image();
        |               image.src = e.target.result;
        |               image.onload = function () {
        |                   $('.contest-preview img').attr('src', e.target.result);
        |               };
        |           };
        |       reader.readAsDataURL(selectedFile);
        |   });
        | });