extends ./base

block title
    title= __('Edit campaign')

block append header_styles
    link(rel="stylesheet" href="/stylesheets/forms.css")
    link(rel="stylesheet" href="/stylesheets/coupon_preview.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.css")
block container-content
    h1= __('Edit campaign')
    - if (errors && errors.unknown) {
        div.alert.alert-danger= errors.unknown
    - }

    div.col-md-6
        form(role="form" action="/cms/edit/dateCampaign/#{campaign.id}" method="post" enctype="multipart/form-data)")
            //div.form-group
            //    label(for="campaignIcon")= __('Icon')
            //    br
            //    img(src="#{campaign.icon}")
            //    input#campaignIcon(type="file" name="icon")

            div.form-group.cropper-form(style="width: 300px")
                label(for="campaignIcon")= __('Icon')
                input.form-control.cropperFile#campaignIcon(type="file")
                input(class="control cropperValue" type="hidden" name="icon")
                p.help-block= __('The content illustration (square picture, optimal size: 1080px X 1080px).')
                div.cropper-container
                    img(data-preview=".coupon-detail-preview-image > img" data-width="1080" data-height="1080" src="#{campaign.icon}" class="cropper")

            div.form-group.cropper-form(style="width: 300px")
                label(for="campaignIcon")= __('Icon')
                input.form-control.cropperFile#campaignIcon(type="file")
                input(class="control cropperValue" type="hidden" name="icon_wide")
                p.help-block= __('The content illustration (rectangle picture, optimal size: 670px X 270px).')
                div.cropper-container
                    img(data-preview=".coupon-list-preview-image img" data-width="670" data-height="270" src="#{campaign.icon_wide}" class="cropper")


            div.form-group
                label(for="campaignLaunchDate")= __('Launch date')
                - if (errors && errors.launchDate) {
                    span.error #{errors.launchDate.msg}
                - }
                input#campaignLaunchDate.form-control.datepicker(required="true" data-format="dd/MM/yyyy hh:mm" type="text" name="launchDate" value=((inputs && inputs.launchDate) ? inputs.launchDate : dateToString(campaign.launch_date, true)))
            div.form-group
                label(for="campaignStartDate")= __('Start date')
                - if (errors && errors.startDate) {
                    span.error #{errors.startDate.msg}
                - }
                input#campaignStartDate.form-control.datepicker(required="true" data-format="dd/MM/yyyy hh:mm" type="text" name="startDate" value=((inputs && inputs.startDate) ? inputs.startDate : dateToString(campaign.start_date, true)))
            div.form-group
                label(for="campaignEndDate")= __('End date')
                - if (errors && errors.endDate) {
                    span.error #{errors.endDate.msg}
                - }
                input#campaignEndDate.form-control.datepicker(required="true" data-format="dd/MM/yyyy hh:mm" type="text" name="endDate" value=((inputs && inputs.endDate) ? inputs.endDate : dateToString(campaign.end_date, true)))
            div.form-group
                label(for="campaignValue")= __('Value')
                - if (errors && errors.value) {
                    span.error #{errors.value.msg}
                - }
                input#campaignValue.form-control(required="true" maxlength=6 type="text" name="value" value=((inputs && inputs.value) ? '#{inputs.value}': '#{campaign.value}'))
            div.form-group
                label(for="campaignTagline")= __('Tagline')
                - if (errors && errors.tagline) {
                    span.error #{errors.tagline.msg}
                - }
                input#campaignTagline.form-control(required="true" type="text" name="tagline" maxlength=30 value=((inputs && inputs.tagline) ? '#{inputs.tagline}' : '#{campaign.tagline}'))
            div.form-group
                h5= __('Place(s)')
                - for store in stores
                    div.checkbox
                        label
                            input.campaignStore(required="true" type="checkbox" name="store[]" value="#{store.id}" checked=(campaignStores.indexOf(store.id) != -1 ? 'checked' : false))
                            |#{store.name}
            div.form-group
                label(for="campaignDescription")= __('Text')
                - if (errors && errors.description) {
                    span.error #{errors.description.msg}
                - }
                textarea#campaignDescription.form-control(required="true" rows="3" name="description")
                    - if (inputs && inputs.description) {
                        |#{inputs.description}
                    - } else {
                        |#{campaign.description}
                    - }

            button.btn.btn-primary(type="submit")= __('Update')
    div.col-md-6
        include ./coupon_preview

block append footer_scripts
    script(src="/js/moment.js")
    script(src="/js/bootstrap-datetimepicker.js")
    script(type="text/javascript")
        |$(function() {
        |   $('.datepicker').datetimepicker({
        |       format: 'DD.MM.YYYY HH:mm'
        |   });
        |});
        |$('img.coupon-detail-preview-image-uploaded').prop('src', '#{campaign.icon}');
        |$('.coupon-list-preview-image>img').prop('src', '#{campaign.icon_wide}');
        |$('.preview-tagline').text($('#campaignTagline').val());
        |$('.preview-pill').text($('#campaignValue').val());
        |$('.preview-description').text('Details: ' + $('#campaignDescription').val());
        |   $('#campaignTagline').on('keyup change', function (e) {
        |       console.log('keyup change');
        |       $('.preview-tagline').text($('#campaignTagline').val());
        |   });
        |   $('#campaignValue').on('keyup change', function (e) {
        |       $('.preview-pill').text($('#campaignValue').val());
        |   });
        |   $('#campaignDescription').on('keyup change', function(e) {
        |       $('.preview-description').text('Details: ' + $('#campaignDescription').val());
        |   });
