extends customer_info

block coupon
    h3= __('Available coupons')
    - if (message && message.length > 0) {
        div.alert.alert-success= message
    - }
    - if (error && error.length > 0) {
        div.alert.alert-success= error
    - }
    div.row.coupons
        if campaigns.length > 0
            - each campaign, index in campaigns
                div.coupon.col-md-12(id="campaign#{campaign.id}")
                    div.coupon-image
                        div.icon
                            img(src="#{campaign.icon}")
                        div.pill
                            img(src="/img/coupon-badge@2x.png")
                            span= campaign.value
                    div.coupon-info
                        div.coupon-name
                            h3= campaign.tagline
                        div.coupon-date
                            span #{__('valid until')} #{dayToString(campaign.end_date)}
                        div.coupon-button
                            button.btn.btn-lg.btn-redeem.pull-right(type="button" data-toggle="modal" data-target="#redeemModal#{campaign.id}")= __('Redeem')
        else
            div.col-md-12
                h3= __('No coupon found.')
    if campaigns.length > 0
        div.modals
            - each campaign, index in campaigns
                div.modal.fade(id="redeemModal#{campaign.id}")
                    div.modal-dialog
                        div.modal-content
                            div.modal-header
                                h4.modal-title= campaign.tagline
                            div.modal-footer
                                button.btn.btn-lg.btn-default(type="button" data-dismiss="modal")= __('Cancel')
                                - if (campaign.beacon_ids) {
                                    a.btn.btn-lg.btn-redeem(href="/customer/#{customer.id}/redeem_geo/#{campaign.id}/confirm")= __('Confirm')
                                - } else {
                                    a.btn.btn-lg.btn-redeem(href="/customer/#{customer.id}/redeem/#{campaign.id}/confirm")= __('Confirm')
                                - }

block append footer_scripts
    script(type="text/javascript")
        |$('.modal').on('show.bs.modal', function (e) {
        |   $(this).css({visibility: 'hidden'});
        |});
        |$('.modal').on('shown.bs.modal', function (e) {
        |   var campaignId = $(this).prop('id').replace('redeemModal', '');
        |   var campaignPosition = $('#campaign' + campaignId).position();
        |   var campaignWidth = $('#campaign' + campaignId).width();
        |   var campaignHeight = $('#campaign' + campaignId).height();
        |   var modalHeight = $(this).find('.modal-content').height();
        |   var modalWidth = $(this).find('.modal-content').width();
        |   var top = campaignPosition.top - (modalHeight - campaignHeight) - scrollY;
        |   var left = campaignPosition.left + (campaignWidth - modalWidth);
        |   $(this).css({visibility: 'visible'});
        |});